<form action="/posts" method="post">
  <fieldset>
    <legend>Add Post</legend>
    
    <label>Author</label>
    <input type="text" name="author" />
    <span class="help-block">Enter the author as it will appear on the post.</span>
    
    <label>Title</label>
    <input type="text" name="title" />
    <span class="help-block">Enter a title for the blog post.</span>
    
    <label>Content</label>
    <textarea name="body"></textarea>
    <span class="help-block">Paste markup here.</span>

    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>