<p class="text-info"><a href="/posts">Back to list</a></p>
<article>
<p class="lead"><%= post["title"] %></p>
<p><%= post["body"] %></p>
<p class="text-info">Submitted by: <%= post["author"] %></p>
</article>